{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id ='main'>
    <article class="post">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom ">
                    {{form|crispy}}
                </legend>
            </fieldset>
            <footer class="mt-4">
                <ul class="'actions">
                    <li><button href="#" class="button large" type="submit">Sign in</button></li>
                </ul>
            </footer>
        </form>
        <footer class="mt-4">
            <ul class="'actions">
                <li><small class="text-muted">
                    No account <a href="{% url 'register' %}">Sign Up</a>
                </small></li>
            </ul>
        </footer>
        
    </article>
</div>

{% endblock %}